<div class="post-header">
  <div class="posts-main">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn logout" %>
      <%= link_to "動画を投稿してみよう",  new_post_path, class:"btn post-new" %>
      <i class="fas fa-video"></i>
  </div>
  <div class='post-header-name'>
    <h1>HealthYourself</h1>
      <%= image_tag 'Helth-removebg-preview.png', class:'logo' %>
  </div>

</div>
