<%= image_tag 'Helth-removebg-preview.png', class:'logo' %>
<ul class='side-icons'>
  <li><i class="fas fa-home"></i></li>
  <li><i class="fas fa-search"></i></li>
  <li><i class="far fa-bell"></i></li>
  <li><i class="far fa-envelope"></i></li>
  <li><i class="far fa-user"></i></li>
</ul>
