

.side {
  width: 180px;
  height: 100vh;
  position: fixed;
  background-color: black;
  opacity: 0.8;
  z-index: 8;
}

.logo {
position: absolute;
left: 40px;
width:100px;
height: 90px;
z-index: 10;
background-color: white;
}

.side-icons {
  padding: 100px 0 0 55px;
  color: white;
  font-size: 40px;
}
 .side-icons li{
padding: 15px;
  transition: all 0.2s;
 }
 .side-icons li:hover{
  font-size: 50px;
 }
