<div class="user-profile">
 <h2> フォロー </h2>

   <% @users.each do |user| %>

   <%= link_to "username :  #{user.nickname}", user_path(user.id) %>
 <% end %>
      <%=link_to 'トップページへ戻る', root_path, class:"btn back-btn" %>
</div>
