
    <%= link_to 'ログインはこちら', new_user_session_path, class: "login" %></li>
   

 <h1>アプリケーション名</h1>
 
 <h2>ようこそ〜。。。。</h2>
 <h2>アプリケーション説明</h2>
 <h2>アプリケーション説明</h2>
 <h2>アプリケーション説明</h2>
 <h2>アプリケーション説明</h2>
    
     <%= link_to '今すぐ始める', new_user_registration_path, class: "sign-up" %></li>
 