
<div class="home">

  <div class="home-header"  >
    <%= link_to 'ログインはこちら', new_user_session_path, class:"btn log in"%>
  </div>

  <div class='form-header'id="home-btn">
  <h1>HealthYourself</h1>
  <%= image_tag 'Helth-removebg-preview.png', class:'home-logo' %>
    </div>

 <div class="home-heading">

   <%= link_to '今すぐ始める', new_user_registration_path, class:" btn sign-up"%>

    </div>
  </div>
