
<div class="home">
  <div class="home-header">
    <%= link_to 'ログインはこちら', new_user_session_path, class:"btn log in" %>
  </div>
  <div class='form-header'>
    <h2>アプリケーション名</h2>
  </div>
 <div class="home-heading">
      <ul>
       <li><h2>ようこそ〜。。。。</h2></li>
       <li><h2>アプリケーション説明</h2></li>
       <li><h2>アプリケーション説明</h2></li>
       <li><h2>アプリケーション説明</h2></li>
       <li><h2>アプリケーション説明</h2></li>
      </ul>
   <%= link_to '今すぐ始める', new_user_registration_path, class:" btn sign-up" %>

    </div>
  </div>
</div>
