<div class="posts-main">

<div class="posts-main-list">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :logout %>


        <div id="item_index_new">
       <%= render 'post_new', post: @post %>
      </div>
  <div class="create-btn">
    <%= link_to "動画を投稿してみよう",  new_post_path, class:"post-new" %>
  </div>
</div>
