.show-post
  .viedo-show
    = video_tag @post.video.to_s, :controls => true, autobuffer: true, id:"video"
    = link_to  user_path(@post.user.id) do
      = @post.user.nickname
    |  <div id="show_like_
    = @post.id
    | "> 
    = render 'likes/like', post: @post
  .show-description
    = @post.description
  - if user_signed_in? && current_user.id == @post.user_id
    .post__manage
      = link_to "編集する", edit_post_path(@post.id), class:"post_btn"
      = link_to "削除する", post_path(@post.id), method: :delete, class:"post_btn"
.post-comments
  h3
    | Only Good Comment
  = render partial: 'comments/form', locals: { comment: @comment, post: @post }
  h3
    | comments
  #comments_area
    = render partial: 'comments/index', locals: { comments: @comments }
=link_to 'トップページへ戻る', root_path, class:"show-back-btn"
