

.registration-main {
  width: 100vw;
  height: 100vh;
}

.btn {
  color: white;
}
#home-btn {
  margin-bottom: 400px;
}
.form-header {
padding: 0 0 180px 20px;
font-size: 25px;
}

.form-group {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.form-group:first-child {
  padding: 0;
}

.form-text {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  margin: 5px 0 20px 0;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  resize: none;
  text-align: center;
}

.info-text {
  color: black;
  font-size: 15px;
  margin-top: 3px;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  text-align: center;
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  line-height: 48px;
  font-size: 14px;
}

.log {
  float: right;
  padding: 20px;
  margin: 10px;
  background-color: rgb(38, 46, 230);
}


.register-login {
  text-align: center;
  width: 100%;
  background: rgb(38, 46, 230);
  border: 1px solid rgb(38, 46, 230);
}

.sign-up {
  padding: 30px 200px;
  background-color: rgb(184, 46, 46);
}

.session-sign-up {
  float: right;
  padding: 20px;
  margin: 10px;
  background-color: rgb(184, 46, 46);
}
