.posts-main {
background-color: black;
}

.posts {
  border-bottom: 1px solid rgb(171, 167, 168);
}

.post-index {
width: 45vw;
margin: 0 auto;
}

.post-index li{
padding: 10px 0;
}
.post-title a{
    color: #fff;
font-size:40px;
}

.post-image {
  height: 50vh;
  width: 50vh;
}

.post-nickname {
  color: #fff;
  font-size: 20px;
}

.post-new {
  font-weight: bold;
color: blue;
position: fixed;
top: 105px;
left: 55px;
}

.logout {
color: #fff;
}
