.post-main-list {

}
.posts {
  padding-top: 150px;
  border-bottom: 1px solid black;
}

.post-title {
  color: black;
  font-size: 40px;
}

.post-index {
width: 45vw;
margin: 0 auto;
}

.post-title a{
color: white;
padding: 10px;
font-size:30px;
background-color: black;
opacity: 0.8;
transition: all 0.3s;
border-radius: 40px;
cursor: pointer;
}

 .post-title a:hover {
  opacity: 1;
}


.post-nickname {
  color: blue;
  font-size: 20px;
}

.post-new {
  padding: 20px;
  background-color: orange;
  float: right;
  margin: 10px;
}

.logout {
  float: right;
  padding: 20px;
  margin: 10px;
  background-color: green;
}

.fa-video {
  font-size: 60px;
  float: right;
  margin-top: 12px;
  color: orange;
}
.post-header {
  background-color: black;
padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 0.8;
  z-index: 9;
}

.post-header-name {
color: white;
font-size: 25px;
}
