
.posts {
  padding-top: 150px;
  border-bottom: 1px solid rgb(171, 167, 168);
}

.post-title {
  color: black;
  font-size: 40px;
}

.post-index {
width: 45vw;
margin: 0 auto;
}

.post-title a{
  color: black;
font-size:40px;
}

.post-image {
  height: 50vh;
  width: 50vh;
}

.post-nickname {
  color: black;
  font-size: 20px;
}

.post-new {
  float: right;
  margin: 30px;

}

 .header-left {
   float: left;
 }

.post-header {
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(119, 117, 118);
  opacity: 0.8;
}
