
.show-container {
  background-color: rgb(24, 27, 24);
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
}

#video {
width: 60vw;
height: 40vw;
display: block;
}

.show-description {
  color: #fff;
  font-size: 25px;
  padding: 5px 0 20px 0;
}

.show-back-btn {
  background-color: #fff;
  padding: 10px;
  color: black;
  border-radius: 40px;
  opacity: 0.7;
  transition: all 0.5s;
}

.show-back-btn:hover {
  opacity: 0.9;
}

.fas {
  color: orange;
}
